@media only screen and (max-width: 799px){
    .main_about{
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main_about > p{
        font-size: 1rem;
    }
    .main_about p > span{
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 800px){
    .main_about{
        width: 55%;
        min-height: 100vh;
        margin-left: 45%;
        margin-top: -100vh;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main_about > p{
        font-size: 1.8vw;
    }
    .main_about p > span{
        font-size: 2.2vw;
    }
}
.main_about > img{
    width: 30%;
    margin-bottom: 50px;
    max-width: 350px;
    border-radius: 5px;
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}
.main_about > p{
    width: 100%;
    color: #fff;
    padding: 0px 30px;
    text-align: center;
    font-family: sans-serif;
    filter: drop-shadow(0px 0px 2px #000);
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}
.main_about p > span{
    font-family: "Playwrite CU", cursive;
}
@keyframes show {
    from{
        opacity: 0;
        scale: 10%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}